## .NET
bin/
obj/
out/
*.user
*.suo
*.pdb
*.dll
*.exe
*.cache
project.lock.json
project.fragment.lock.json
artifacts/
.vs/

## Rider / VS Code
.idea/
.vscode/

## EF Core
*.db
*.db-shm
*.db-wal
appsettings.Development.json
appsettings.*.local.json

## Logs
logs/
*.log

## OS
.DS_Store
Thumbs.db

## Coverage
coverage/
*.coverage
TestResults/
.github/workflows/
